{% extends 'basic.html' %}
{% load static %}
{% block tittle %} About {% endblock tittle %}
 {% block body %}
 <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About Janeffer</h2>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/ark.png' %}" class="img-fluid" alt="" style="height: 60vh; width: 50vh;">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Freelancer &amp; software developer.</h3>
            <p class="fst-italic">
             A software developer with a strong understanding of python and django framework. Proficient in Restful web services and database management,
                with experience in SQL. Strong problem-solving skills, a passion for software development to obtain a responsible and challenging position where
                excellent analytical and technical skills can help to improve the company's profitability by being committed to my work and being competitive in
                my area of specialization. Seeking a frontend developer role to utilize my knowledge and skills in a professional setting and eager to learn and grow in
                the industry.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>www.example.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+254792161866</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Nairobi, Kenya</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Certificateware of Software Developement</strong> <span>Moringa</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>janeffernjeri945@gmail.com</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <h2 class="text-bold  text-center fs-1 $blue-800"> <strong>Technical Skills</strong> </h2>

            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Programming Language</strong></li>
                  <li><span>● Java springboot</span></li>
                  <li> <span>● Python</span></li>
                  <li> <span>● Javascript</span></li>
                  <li> <span>● HTML</span></li>
                 <li> <span>● CSS</span></li>



                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Frameworks</strong></li> 
                  <li><span>● Django Framework</span></li>
                  <li><span>● Angularjs</span></li>
                   <li><i class="bi bi-chevron-right"></i> <strong>Databases</strong></li> 
                  <li><span>● MYSQL</span></li>
                  <li><span>● PostgreSQL</span></li>
                </ul>
              </div>
            </div>
           
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

 {% endblock body %}
